<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature</title>
</head>
<body>
<div class="container-flex">
    <h1>Введите город</h1>

    <form action="#" method="post">
      <div class="form-group">
        <input type="text" class="form-control" id="city" name="city"
              placeholder="Город" required>
      </div>
      <button type="submit" class="btn btn-custom-red mt-4 mb-4">Показать погоду на ближайшие сутки
      </button>
    </form>
  </div>
</body>
</html>